body{
    background-image: url("https://i.insider.com/5eac8da748d92c3d275bb2de?width=1136&format=jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.thank-you-message {
    display: flex;
    margin: 30px;
    justify-content: space-evenly;            
}

.messages-him {
    background: rgba(255, 255, 255, .75);
    border: 10px;
    border-radius: 3rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-her {
    background: rgba(0, 0, 0, .75);
    border: 10px;
    border-radius: 3rem;
    width: 20%;
}

#thank-you-text-him {
    font-size: 20px;
}

#thank-you-text-her {
    color: white;
    font-size: 20px;
}

#text-holder {
    padding: 20px;
}

.kiss {
    width: 100%;
}